/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

h1 {
  font-size: 48px;
}

footer.page-footer {
  margin: 0;
}

.btn {
  margin-top:8px;
}

.header {
  margin-top: 30px;
}

.clearfix {
    overflow: auto;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 25px;
}
.icon-block .material-icons {
  font-size: inherit;
}

.badge {
  width:7.5%;
  margin-right: .2%;
  margin-bottom: 10%;
}

.carousel {
  width: 100%;
}

.card.large {
  height: 700px;
}

.parallax img { 
  width: 100%;
}

.card-panel {
  height: 550px;
}

.rock-salt {
  font-family: 'Rock Salt', cursive;
}

#nametitle {
  font-weight: 600;
  position: relative;
  top: 40px;
}

#logo {
    border-radius:50%;    
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .5s ease-in-out;

    
}
#logo:hover{
    transform:rotate(720deg);
    -ms-transform:rotate(720deg);
    -webkit-transform:rotate(720deg);
}


#dropdown1 {
  position: relative;
  z-index: -999;
  margin-top: 64px;
}


#nametitle {
  margin-top: 50px;
}



@media only screen and (max-width : 1200px) {
  .parallax .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  .parallax img { 
  width: 1000px;
  }

  .card-panel {
  height: 620px;
}

}

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 0;
  }

.card-panel {
  height: 340px;
}

@media only screen and (max-width : 600px) {

.card-panel {
  height: 450px;
}
}