/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}
/* latin */
@font-face {
  font-family: 'Rock Salt';
  font-style: normal;
  font-weight: 400;
  src: local('Rock Salt Regular'), local('RockSalt-Regular'), url(../fonts/MwQ0bhv11fWD6QsAVOZrt0M6.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

nav ul a.active {
  background: rgba(0,0,0,0.08);
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

h1 {
  font-size: 48px;
}

footer.page-footer {
  margin: 0;
}

.social-btn {
  margin: 2px;
  margin-bottom: 20px;
  padding: 0px;
  position: relative;
  top: 15px;
  color: #455A64;
}

body {
background: #ECE9E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 100vw;

}

.btn {
  margin-top:8px;
}

.nav-linkers {
  margin-top: -14.5px;
}

.header {
  margin-top: 30px;
}

.clearfix {
    overflow: auto;
}

.button-collapse {
  color: #26a69a;
}

.container {
  padding: 0px 100px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

.icon-block {
  padding: 0 25px;
}
.icon-block .material-icons {
  font-size: inherit;
}

#firstpic {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%);
}

.badge {
  width:7.5%;
  max-width: 80px;
  margin-right: .2%;
  margin-bottom: 10%;
}


.parallax img { 
  width: 100%;
}


.rock-salt {
  font-family: 'Rock Salt', cursive;
}

.port-card {
  padding: 10px;
}
#nametitle {
  font-weight: 600;
  position: relative;
  top: 40px;
}

@keyframes spin{
    0% { opacity: 1;
    }
    100% {
    opacity: 1;
    transform:rotate(720deg);
    -ms-transform:rotate(720deg);
    -webkit-transform:rotate(720deg);
    }
}


#logo:hover {
    -webkit-animation: 1s ease 0s normal 1 spin;
    animation: 1s ease 0s normal 1 spin;  
  
}

#resume-container {
  background: url(../assets/bg.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



#dropdown1 {
  z-index: -999;
  margin-top: 64px;
}


#nametitle {
  margin-top: 50px;
}

#resume-card {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 15px;
}

.card-panel {
  height: 65vh;
}
@media only screen and (max-width : 1600px) {

.card-panel {
  height: 80vh;
}

}

@media only screen and (max-width : 1400px) {
  .parallax .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  .parallax img { 
  width: 1000px;
  }

  .card-panel {
  height: 85vh;
  }


.container {
  padding: 0px 20px;
}
}

@media only screen and (max-width : 990px) {

.card-panel {
  height: 50vh;
}

}

@media only screen and (max-width : 600px) {

#dropdown1 {
  z-index: -999;
  margin-top: 55px;
}

.card-panel {
  height: 85vh;
}

.zoomInDown {
    animation: 1s ease 1.2s 1 zoomInDown
}

}

@-webkit-keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

@keyframes zoomInDown {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
  }
}

.zoomInDown {
    animation: 1s ease 0s 1 zoomInDown
}

@keyframes shine {
from {
        background-repeat:no-repeat;
        background-image:-webkit-linear-gradient(
            top left,
            rgba(255, 255, 255, 0.0) 0%,
            rgba(255, 255, 255, 0.0) 45%,
            rgba(255, 255, 255, 0.5) 48%,
            rgba(255, 255, 255, 0.8) 50%,
            rgba(255, 255, 255, 0.5) 52%,
            rgba(255, 255, 255, 0.0) 57%,
            rgba(255, 255, 255, 0.0) 100%
        );
        background-position:-250px -250px;
        background-size: 600px 600px
    }
    to {
        background-repeat:no-repeat;
        background-position:250px 250px;
    }
}

.shine {
  animation: 1.6s ease 1s 1 shine
}

.grow:hover {
    transform: scale(1.3);
}

