/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

.btn {
  margin-top:8px;
}
p {
  line-height: 2rem;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.badge {
  width:7.5%;
  margin-right: .2%;
  margin-bottom: 10%;
}

.carousel {
  width: 100%;
}

#nametitle {
  font-weight: 600;
  position: relative;
  top: 40px;
}

#logo {
    border-radius:50%;    
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .5s ease-in-out;

    
}
#logo:hover{
    transform:rotate(720deg);
    -ms-transform:rotate(720deg);
    -webkit-transform:rotate(720deg);
}

.card.large {
  height: 700px;
}

  .parallax img { 
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }

  .parallax img { 
  width: 1000px;
}

}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

}